<div class="filter-container">
  <h1>Find the Perfect Match</h1>

  <!-- Pet Type -->
  <div class="pet-selection">
    <p>I'm looking for a service for my:</p>
    <div class="pet-options">
      <div
        *ngFor="let pet of pets"
        class="pet"
        [class.active]="selectedPet === pet.name"
        (click)="setSelectedPet(pet.name)"
      >
        <i [class]="pet.icon"></i>
        <span>{{ pet.name }}</span>
      </div>
    </div>
  </div>

  <!-- Additional Filters for Pets -->
<div class="additional-filters" *ngIf="selectedPet === 'Dog' || selectedPet === 'Cat'">
  <p>Additional filters for {{ selectedPet }}:</p>
  <div class="filters-container">
    <!-- Weight Filter -->
    <div class="filter-group">
      <label for="weight">Weight:</label>
      <select id="weight" [(ngModel)]="filters.weight">
        <option value="">Select weight</option>
        <option *ngFor="let weight of petFilters.weightOptions" [value]="weight">{{ weight }}</option>
      </select>
    </div>

    <!-- Breed Filter -->
    <div class="filter-group" *ngIf="selectedPet === 'Dog'">
      <label for="breed">Breed:</label>
      <select id="breed" [(ngModel)]="filters.breed">
        <option value="">Select breed</option>
        <option *ngFor="let breed of petFilters.dogBreeds" [value]="breed">{{ breed }}</option>
      </select>
    </div>

    <div class="filter-group" *ngIf="selectedPet === 'Cat'">
      <label for="breed">Breed:</label>
      <select id="breed" [(ngModel)]="filters.breed">
        <option value="">Select breed</option>
        <option *ngFor="let breed of petFilters.catBreeds" [value]="breed">{{ breed }}</option>
      </select>
    </div>
  </div>
</div>

  <!-- Service Selection -->
  <div class="service-selection">
    <p>Which service do you need?</p>
    <div class="service-options">
      <div
        *ngFor="let service of services"
        class="service"
        [class.active]="activeService === service.name"
        (click)="setActiveService(service.name)"
      >
        <i [class]="service.icon"></i>
        <span>{{ service.name }}</span>
      </div>
    </div>
  </div>

  <!-- Address Input -->
  <!-- <div class="address-input">
    <p>What's your Postcode?</p>
    <input type="text" placeholder="Postcode or Address" />
  </div> -->

  <!-- Date Selection -->
  <div class="date-selection">
    <p>Which dates do you need?</p>
    <div class="date-inputs">
      <div class="date-field">
        <label for="dropOff">From:</label>
        <input type="date" id="dropOff" placeholder="Drop off" />
      </div>
      <div class="date-field">
        <label for="pickUp">To:</label>
        <input type="date" id="pickUp" placeholder="Pick up" />
      </div>
    </div>
  </div>
  

  <!-- Next Button -->
  <button (click)="onFilter()" class="next-button">Next</button>

  <!-- Loading Screen -->
<div class="loading-screen" *ngIf="isLoading">
  <div class="loader"></div>
  <p>Matching best sitter...</p>
</div>
</div>
